
*.spp

*.painter_lock

Maya Basics/images/Refrences/ModelingHelpSheet.pdf

Maya Basics/SubstancePainter/OutdoorScene.fbx

Maya Basics/sourceimages/3dPaintTextures/WorldInABottle/WorldInABottleFinalTexture.json

Maya Basics/SubstancePainter/WorldInABottle.fbx
